
@{
    ViewData["Title"] = "Favorite Color Poll";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/pollstyle.css" />
</head>
<body>
    <p>
        <h1>Favorite Color Poll</h1>
        Please selecte your favorite color and then press Submit Poll.
    </p>
    <form class="submit-form">
        <div class="main-div">
            <div class="main-batch1">
                <div class="item">
                    <div class="img-item"><img src="colorimages/babyblue.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="BabyBlue"> Baby Blue</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/blue.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Blue"> Blue</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/green.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Green"> Green</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/orange.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Orange"> Orange</div>
                </div>
            </div>
            <div class="main-batch2">
                <div class="item">
                    <div class="img-item"><img src="colorimages/pink.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Pink"> Pink</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/purple.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Purple"> Purple</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/red.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Red"> Red</div>
                </div>
                <div class="item">
                    <div class="img-item"><img src="colorimages/yellow.png" /></div>
                    <div class="input-item"><input type="radio" name="favorite" value="Yellow"> Yellow</div>
                </div>
            </div>
        </div>
        <div class="submit-batch">
            <input type="submit" value="Submit Poll" />
        </div>
    </form>
</body>
</html>