@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
    </style>
</head>
<body>
    <h1>About Me</h1>
    <div style="padding:10px; float:left">
        <img src="~/images/me.jpg" alt="Sample Image" height="400" />
    </div>
    <div style="margin-left:400px; margin-top:90px;">
        <p style="font-size:large">
            My name is Da Hye Park (박다혜) but everyone calls me Emily. I explored various career fields and nothing felt quite right until I found software development.
            I started to study coding and I absolutely fell in love. I am currently a student in the Microsoft Software & Sklls Academy and I am learning, C#, T-SQL, Python, Azure, and ASP.NET.
            So far, I love everything about programming and I can't wait to use my newly developed skills to develop meaningful software that makes a difference.
        </p>
        <br />
        <p>
            (I don't really take many pictures so this is the best I've got. I do have hundreds of pictures of my cats if anyone's interested.)
        </p>
    </div>

    <div style="clear:both; padding-top:75px">
        <h1>Get to Know Me</h1>
        <ul>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/dahyepark/">https://www.linkedin.com/in/dahyepark/</a></li>
        </ul>
        <ul>
            <li>GitHub: <a href="https://github.com/dahyeemilypark">https://github.com/dahyeemilypark</a></li>
        </ul>
        <ul>
            <li>Email: da.h.park@outlook.com</li>
        </ul>
    </div>
</body>
</html>
