@{
    ViewData["Title"] = "You Rebel";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
    </style>
</head>
<body>
    <h1 class="text-center" style="margin-top:100px">What did I just say?</h1>

    <div style="padding-top:100px">
        <a asp-action="Index">Sorry... Take me back.</a>
    </div>
</body>
</html>
